/* Estilos Generales */
body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h5,
h6,
.card-title {
  color: #192954;
}

p,
a,
span,
li {
  color: #1d2d58;
}

nav,
.progress {
  background-color: #f2f2f2;
}

main,
header,
form {
  background-color: #e6e6e6;
}

.progress-bar {
  background-color: #f5900c;
}

a {
  text-decoration: none;
}

footer {
  background-color: #f2f2f2;
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}

footer li {
  color: #000;
}

/* Estilos Página Portafolio */
.header-photo-section {
  background-image: url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 50vh;
}

#main a i {
  color: #0d6efd;
  transition: color 0.15s ease-in-out;
}

#main a i:hover {
  color: #0b5acf;
}

@media (max-width: 576px) {
  .vr {
    display: none;
  }
}